@model TpFreelancer.Models.QuotesModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>QuotesModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuoteId" />
            <div class="form-group">
                <label asp-for="QuoteState" class="control-label"></label>
                <input asp-for="QuoteState" class="form-control" />
                <span asp-validation-for="QuoteState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteDate" class="control-label"></label>
                <input asp-for="QuoteDate" class="form-control" />
                <span asp-validation-for="QuoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteAmount" class="control-label"></label>
                <input asp-for="QuoteAmount" class="form-control" />
                <span asp-validation-for="QuoteAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteFinalDate" class="control-label"></label>
                <input asp-for="QuoteFinalDate" class="form-control" />
                <span asp-validation-for="QuoteFinalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuoteFinalAmount" class="control-label"></label>
                <input asp-for="QuoteFinalAmount" class="form-control" />
                <span asp-validation-for="QuoteFinalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jobid" class="control-label"></label>
                <input asp-for="Jobid" class="form-control" />
                <span asp-validation-for="Jobid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

