<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="PapyrusDb"
		connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PapyrusNicolas;Integrated Security=True;Pooling = true"
		providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="SuplierDataRWExceptionTracer" type="System.Diagnostics.TextWriterTraceListener" initializeData="DatabaseSqlError.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>