/***********Common************/

* {
    box-sizing: border-box;
}

body {
    max-width: 960px;
    margin: 0px auto 0px auto;
}

a {
    color: #45505E;
    text-decoration: none;
    font-family: Tahoma;
}

/***********Header************/

header {
    display: flex;
    height: 78px;
    margin: 0px;
    flex-direction: row;
    align-items: stretch;
}

    header a {
        border: 2px solid black;
        border-radius: 4px;
    }

        header a:hover {
            color: white;
            background-color: #3809DD;
        }

#flex-left {
    order: 1;
    width: 160px;
    height: 100%;
    margin: 10px 0px;
    padding: 0px;
}

#flex-void {
    order: 2;
    height: 100%;
    margin: 10px 0px;
    flex: auto;
}

header > nav {
    order: 3;
    width: 360px;
    height: 30px;
    margin: 10px 0px;
}

header nav > ul {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header > nav > ul > li, header > nav > ul > li > a {
    display: inline-block;
    width: 100px;
    height: 100%;
}

    header > nav > ul > li > a {
        padding: 4px 0px 4px 4px;
    }

#bill-link {
    width: 150px;
    height: 100%;
    background-color: #38DD09;
}

    #bill-link:hover {
        background-color: #3809DD;
        color: white;
    }

/************Main*************/

main {
    min-height: calc(100vh - 214px);
}

/***********Footer************/

footer {
    width: 100%;
    height: 115px;
    margin: 0px;
    padding: 0px;
}

    footer > nav {
        width: 100%;
        height: 75px;
        background-color: #FAF7F5;
    }

        footer > nav > ul {
            width: 490px;
            height: 100%;
            margin: 0px auto 0px auto;
            padding: 20px 0px;
            list-style: none;
        }

            footer > nav > ul > li, footer > nav > ul > li > a {
                display: inline-block;
                height: 40px;
                padding: 2px;
            }

    footer > p {
        width: 100%;
        height: 40px;
        margin: 0px;
        padding: 12px 15px;
        background-color: #45505E;
        color: white;
        font-weight: bold;
    }
